# EditorConfig is awesome: https://EditorConfig.org

# 顶层配置
root = true

[*]
# 字符集
charset = utf-8
# 行尾格式
end_of_line = lf
# 缩进类型
indent_style = space
# 缩进大小
indent_size = 2
# 删除行尾空格
trim_trailing_whitespace = true
# 在文件末尾插入空行
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false